.registration-form {
    max-width: 400px;
    margin: 30px auto; /* Add margin from top */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  
    h2 {
      font-size: 1.5em;
      margin-bottom: 15px;
      text-align: center;
      color: #333;
    }
  
    .form-group {
      margin-bottom: 20px;
    }
    
    .radio-group {
      display: flex;
      gap: 80px; /* Adjust the gap as needed */
    }
    
    input[type="radio"] {
      margin-right: 5px;
    }
    
    .radio-label {
      display: flex;
      align-items: center;
    }
    
    input[type="text"] {
      width: 100%;
      //padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    
    
    
    
  
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
      color: #555;
    }
  
    input {
        width: 100%;
        padding: 12px;
        margin-bottom: 1px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
        box-sizing: border-box; /* Added to include padding in width calculation */
    
        &:focus {
          outline: none;
          border-color: #007bff;
        }
      }
  
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 12px 0;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        transition: background-color 0.2s ease-in-out;
    
        &:hover {
          background-color: #0056b3;
        }
    
        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }
      }
      .validation-message {
        color: red;
        font-size: 12px;
        margin-top: 4px;
      }

      .required {
        color: red;
        margin-left: 4px;
      }   

      .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }
      

/* Green style for success */
.success-snackbar {
  background-color: #4caf50;
  color: white;
}

/* Red style for error */
.error-snackbar {
  background-color: #f44336;
  color: white;
}


      
  }
  